
<div class="sidebar">

  <img class="logo" src="/uploads/logo.png">

  <div class="nav-list">
  {% assign pages = site.pages | sort: 'position' %}
  {% for my_page in pages %}
    {% if my_page.title %}
    <div class="nav-list__item{% if page.url == my_page.url %} is-active{% endif %}">
      <a class="nav-list__item__link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.link_name | default: my_page.title }}</a>
    </div>
    {% endif %}
  {% endfor %}
  </div>

  <h6>Guidelines</h6>

  <div class="nav-list nav-list--guidelines">
  {% assign guidelines = site.guidelines | sort: 'position' %}
  {% for my_page in guidelines %}
    {% if my_page.title %}
    <div
      class="nav-list__item{% if page.url == my_page.url %} is-active{% endif %}"
      style="counter-reset: guidelinesNav {{my_page.position | minus:1}}"
      >
      <a class="nav-list__item__link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    </div>
    {% endif %}
  {% endfor %}
  </div>

</div>
