/*
 * Overall page layout
 */

 .layout {
   display: grid;
   grid-template-columns: 25vw 1fr;
   height: 100vh;
 }

.layout__sidebar {
  background: #F1F2F4;
  overflow: auto;
}

.layout__page {
  overflow: auto;
}
