/*
 * Left-hand navigation
 */

.sidebar {
  padding: 40px 40px;

  @include for-desktop-up {
    padding: 40px 50px;
  }
}

.logo {
  width: 80%;
  max-width: 100%;
  margin: 0 auto 30px;
  height: auto;
}

.nav-list__item {
  margin-top: 5px;
  color: #384C60;
}

.nav-list__item__link {
  color: inherit;
  text-decoration: none;
}

.nav-list__item.is-active {
  color: #2F2D83;
  font-weight: bold;
}

.nav-list--guidelines {

  & .nav-list__item__link {
    display: flex;
    align-items: flex-start;
  }

  & .nav-list__item__link__ref {
    width: 1.5em;
  }

  & .nav-list__item__link__label {
    flex: 1;
  }
}
