

.sidebar {
  padding: 40px 40px 0;
}

.logo {
  width: 80%;
  max-width: 100%;
  margin: 0 auto 30px;
  height: auto;
}

.nav-list__item {
  margin-top: 5px;
}

.nav-list__item__link {
  color: #384C60;
  text-decoration: none;
}

.nav-list__item.is-active .nav-list__item__link {
  color: #2F2D83;
  font-weight: bold;
}
