body {
  font-family: "Proxima Soft", "Proxima Nova Soft", "Proxima Nova", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #555;
}

a {
  color: #2D2E81;
}

p, ul, ol {
  margin: 0 0 1.4em;
}

ul, ol {
  padding-left: 1.5em;
}

h1 {
  font-size: 48px;
  color: #E57000;
  font-weight: bold;
}

h3 {
  color: #2D2E81;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: .5em;
  margin: 2em 0 .4em;
}

h3:first-of-type {
  margin-top: 1em;
}

h6, h4 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #8C949B;
  margin: 1em 0 .5em;
}

h4 {
  margin-bottom: 1em;
}

.subtitle {
  font-size: 24px;
  color: #8C949B;
  margin-bottom: 1em;
}

h1 + .subtitle {
  margin-top: -1em;
}
