---
layout: default
---

<article class="post post--screen">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    {% if page.description %}
      <div class="subtitle">{{page.description}}</div>
    {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="toc toc--complete">
    <ul>
    {% assign guidelines = site.guidelines | sort: 'position' %}
    {% for my_page in guidelines %}
      <li style="counter-reset: sectionCounter {{my_page.position | minus:1}} guidelineCounter;">
        <a href="{{my_page.url}}">{{my_page.title}}</a>
      </li>
        {% include toc.html html=my_page.content h_max=3 prepend=my_page.url %}
    {% endfor %}
    </ul>
  </div>

</article>
