---
layout: default
---

{% if page.position %}
<style>
.toc,
.post__content {
  counter-reset: sectionCounter {{page.position}} guidelineCounter;
}
</style>
{% endif %}

<article class="post post--screen post--guideline">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    {% if page.description %}
      <div class="subtitle">{{page.description}}</div>
    {% endif %}
  </header>

  <div class="toc toc--section">
  {% include toc.html html=content h_max=3 %}
  </div>

  <div class="post__content">
    {{ content }}
  </div>

</article>
